<form [formGroup]="form">

  <h2> User Login </h2>

  {{errors != undefined ? (errors | json) : ''}}
  <div *ngIf="token !== undefined">
    Login Success, JWT Token : {{token | json}}
  </div>

  <div>
    Email: <input style="margin-left: 30px" name="email" type="text" formControlName="email"/>
  </div>

  <div>
    Password: <input style="margin-left: 8px" name="password" type="password" formControlName="password"/>
  </div>

  <div>
    <button (click)="login()">Login</button>
  </div>

</form>

<router-outlet></router-outlet>
